@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body{font-family:'Noto Sans KR',sans-serif}
/*header*/
header{border-top:3px solid #ED4049}
#headerTop{height:70px}
.top_link{width:980px;margin:auto}
.m_btn{display:none}/*모바일 사이드바 메뉴버튼*/
.mnav{display:none}/*모바일 전체메뉴*/
.top_link h1{float:left;padding-top:15px}
.top_link .util{float:right;padding-top:15px}
.top_link .util li{float:left;font-size:12px;background:url(../img/icons.png) no-repeat 5px 4px;padding-left:10px}
.top_link .util li:first-child{background:none}
.top_link .util li a{color:#777;padding:0 3px}
.top_link span{display:block;float:left;width:17px;height:17px;text-indent:-9999px;background:url(../img/icons.png) no-repeat;margin-left:5px}
.top_link .zoom_view{background-position:0 -20px;width:16px;height:16px}
.top_link .zoom_plus{background-position:-22px -19px}
.top_link .zoom_minus{background-position:-45px -19px}

/*pc네비*/
.main_menu{width:980px;margin:auto}
.main_menu li{float:left}
.main_menu li a{display:block;font-size:18px;font-weight:bold;color:#333;padding:20px 50px 20px 15px;}

.all_menu{width:100%;position:absolute;border-top:1px solid #dfdfdf;background-color:#fff;border-bottom:1px solid #333;box-shadow:0 4px 5px rgba(0,0,0,0.1);display:none}
.all_menu_center{width:980px;margin:auto;border-left:1px solid #dfdfdf}
.all_menu_center .menu{width:16.66%;float:left;box-sizing:border-box;border-right:1px solid #dfdfdf;padding:0 15px;height:660px}
.all_menu_center .menu:hover{background-color:rgba(0,0,0,0.03)}
.all_menu_center .menu h3{font-size:15px;font-weight:bold;padding:25px 0}
.all_menu_center .menu h3 a{color:#ED4049}
.all_menu_center .menu .depth1>li{padding-top:10px;}
.all_menu_center .menu .depth1>li:first-child{padding-top:0}
.all_menu_center .menu .depth1>li:last-child{padding-bottom:20px}
.all_menu_center .menu .depth1>li>a{font-size:14px;color:#333;font-weight:bold}
.all_menu_center .menu .depth2{padding-top:10px}
.all_menu_center .menu .depth2>li>a{display:block;font-size:12px;color:#666;line-height:18px}

/*제이쿼리작업*/
.main_img{background-color:#eff0f3}
.slider_box{width:980px;margin:0 auto;border-left:2px solid #fff;border-right:2px solid #fff;position:relative;background:#eff0f3}
.slider_wrapper{width:776px;}

/*contents*/
.contents{width:980px;margin:0 auto 40px}

/*메인슬라이더*/
.pager_wrapper{position: absolute;right: 0;top:0}
.bxPager{width:204px;}
.bxPager li{float:left;width:50%}
.bxPager li a{display:block;height:76px;border-left: 1px solid #fff;border-bottom: 1px solid #fff;background: #d8dae2 no-repeat 0 -75px;box-sizing: border-box;text-indent: -9999px}
.bxPager li:nth-child(1) a{background-image: url(../img/tab1.png)}
.bxPager li:nth-child(2) a{background-image: url(../img/tab2.png)}
.bxPager li:nth-child(3) a{background-image: url(../img/tab3.png)}
.bxPager li:nth-child(4) a{background-image: url(../img/tab4.png)}
.bxPager li:nth-child(5) a{background-image: url(../img/tab5.png)}
.bxPager li:nth-child(6) a{background-image: url(../img/tab6.png)}
.bxPager li:nth-child(7) a{background-image: url(../img/tab7.png);border-bottom:transparent}
.bxPager li:nth-child(8) a{background-image: url(../img/tab8.png);border-bottom:transparent}

.bx-wrapper{box-shadow:none !important;border: none !important;margin-bottom: 0}
.bxPager li a.active{background-position: 0 0 !important}
.bx-wrapper .bx-controls-direction a{display:none}


/*퀵메뉴*/
.quickMenu{margin-top:30px;margin-bottom:20px}
.quickMenu li{float:left;width:16.66%;text-align:center;box-sizing: border-box}
.quickMenu li a{display:block;color:#666}
.quickMenu li a span{display:block;text-indent:-9999px;background:url(../img/icon_main_quick.png) no-repeat;color:transparent;width:64px;height:64px;margin:auto}
.quickMenu li:nth-child(2) a span{background-position: -64px 0}
.quickMenu li:nth-child(3) a span{background-position: -128px 0}
.quickMenu li:nth-child(4) a span{background-position: -192px 0}
.quickMenu li:nth-child(5) a span{background-position: -256px 0}
.quickMenu li:nth-child(6) a span{background-position: -320px 0}
.quickMenu li:hover a span{background-position-y:-64px}
.quickMenu li a p{font-size:15px;margin-top:10px;font-weight:bold}

/*탭tab*/
.tabBox>div{width: calc(50% - 10px);float:left;font-size:12px;box-sizing: border-box}
.tabBox>div.tab_st1{margin-right:10px}
.tabBox>div.tab_st2{margin-left:10px}
.tabBox .tab_title{background:#FF525E;border:1px solid #FF525E;box-sizing: border-box;border-bottom:none;}
.tabBox .tab_title li{float:left;width:25%;height:45px;}
.tabBox .tab_title li a{display:block;height:45px;font-size:15px}
.tabBox .tab_title li a span{display:block;height:45px;line-height:45px;box-sizing: border-box;color:#fff;text-align:center;}
.tabBox .tab_st2 .tab_title{background:#DDDFE5;border-color:#DDDFE5}
.tabBox .tab_st2 .tab_title li a span{color:#333}

.tabBox .tab_title li.active{background-color:#fff;}
.tabBox .tab_title li.active a span{color:#FF525E;background:url(../img/bg_2.gif) no-repeat center bottom}

.tab_contents{position:relative;box-sizing: border-box;padding:5px 20px;height:385px;border:1px solid #dddfed;border-top-color:transparent}
.tab_contents>ul{position:absolute;width:calc(100% - 40px);display:none}
.tab_contents>ul:first-child{display:block}
.tab_contents li{box-sizing: border-box;padding:10px 0;border-bottom:10x solid #f2f2f2;position:relative}
.tab_contents li .title a{display:block;padding-right:80px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px}
.tab_contents li .title a:hover{color:#FF525E}
.tab_contents li .date{color:#999}
.tab_contents li .date span{color:#FF525E;padding-right:5px}
.tab_contents li .print_btn{position:absolute;right:5px;top:18px;padding:4px 8px;color:#FF525E;border:1px solid #FF525E;border-radius:20px;background:#fff8f8}

/*특별자격special*/
.specialBox{border:1px solid #dddfed;padding:30px 20px;box-sizing: border-box;margin-bottom:20px;margin-top:20px}
.specialBox h4{font-size:18px;font-weight:bold;color:#333;margin-bottom:20px;margin-left:10px}
.specialBox ul li {width:calc(25% - 20px);float:left;box-sizing: border-box;font-size:12px;margin:0 10px}
.specialBox ul li a{display:block}
.specialBox ul li a .sp_img{margin-bottom:15px;position:relative}
.specialBox ul li a .sp_img img{width:100%}
.specialBox ul li a .sp_more{display:block;width:16px;height:16px;background:url(../img/icon_more.png) no-repeat;text-indent:-9999px;position:absolute;right:0;bottom:0;display:none}
.specialBox ul li a:hover .sp_more{display:block}
.specialBpx ul li h5{color:#333;margin-bottom:10px}
.specialBox ul li p{color:#888}

/*customer*/
.customerBox{border-left:1px solid #dddfe5;border-top:1px solid #dddfe5;border-bottom:1px solid #dddfe5;box-sizing: border-box;width:100%}
.customerBox>div{float:left;border-right:1px solid #dddfe5;box-sizing:border-box;height:300px;padding:20px}
.customerBox>div.cs_1{width:50%}
.customerBox>div.cs_2{width:25%}
.customerBox>div.cs_3{width:25%}

/*cs_1*/
.cs_1>div{float:left;box-sizing: border-box}
.cs_1>div.cs_1_left{;width:66.6%;}
.cs_1>div.cs_1_right{;width:33.4%}
.cs_1 h4,.cs_2 h4,.cs_3 h4{font-size:18px;font-size:bold;color:#333}
.cs_1 .cs_tel{width:78%;margin:0 auto;padding:20px 0;background:url(../img/icon_cm_01.png) no-repeat right  20px top 10px}
.cs_1 .cs_tel span{display:block;color:#666;font-size:12px}
.cs_1 .cs_tel span.tel_num{font-size:35px;color:#000}

.cs_1 .cs_time{width:78%;margin:0 auto}
.cs_1 .cs_time h5{font-size:15px;font-weight:normal;font-size:;color:#FF525E;}
.cs_1 .cs_time p{font-size:13px;color:#666;margin-top:4px}
.cs_1 .cs_time p:last-child{margin-top:12px}
.cs_1 .cs_time p span{display:inline-block;width:70px}

.cs_1_right li a{display:block;text-align:center;height:130px;font-size:12px;box-sizing: border-box;background:#f2f2f2 no-repeat center top 20px;padding-top:100px}
.cs_1_right li:nth-child(1) a{background-image:url(../img/icon_cm_02.png)} 
.cs_1_right li:nth-child(2) a{background-image:url(../img/icon_cm_03.png);margin-top:2px} 

/*cs_2*/
.customerBox .area_txt{font-size:12px;color:#333;line-height:1.5;margin:5px 0 20px}

.customerBox .btn_arrow{display:block;height:34px;color:#666;border:1px solid #d1d1d1;border-radius:3px;background:url(../img/btn_bg.png) repeat-x;box-sizing:border-box}

.customerBox .btn_arrow span{display:block;font-size:12px;text-align:center;height:32px;line-height:32px;background:url(../img/arrow_right.png) no-repeat right center}

.cs_2 p:nth-of-type(2){height:145px;background:url(../img/icon_cm_04.png) no-repeat center top;padding-top:110px;box-sizing: border-box;margin-top:10px}
.cs_2 p strong{color:#FF525E}

/*cs_3*/
.cs_3 h4.txt_r{color:#FF525E}
.cs_3 h4.txt_g{color:#4bc46d}
.cs_3>div:first-child{margin-bottom:50px}




@media screen and (max-width:1023px){
    header{border-top:none;background-color:#ED4049;width:100%;min-width:768px}
    .top_link{width:100%;}
    .top_link h1{padding-left:15px}
    .top_link .util{display:none}
    .main_img{display:none}
    .m_btn{display:block;background:url(../img/btn_menu.png) no-repeat center;width:43px;height:38px;float:right;text-indent:-9999px;background-size:22px auto;margin-top:15px}
    .m_btn.on{background-image: url(../img/m_btn.png)}
    
    
    /*모바일 사이드바 메뉴버튼*/
    .mnav{display:block}/*모바일 전체메뉴*/
    .nav{display:none}/*pc메뉴*/
    .m_all_menu{display:none}
    .m_all_menu>li>a{height:30px;line-height:30px;display:block;padding:0 22px;color:#fff;background-color:#ED5565;font-size:14px;box-sizing: border-box}
    .m_all_menu .depth1{display:none}
    .m_all_menu .depth1>li>a{display:block;background:#383838;padding:0 22px 0 30px;height:25px;line-height:25px;color:#f0f0f0;font-size:12px}
    .m_all_menu .depth2{display:none}
    .m_all_menu .depth2>li>a{display:block;font-size:11px;background:#383838;padding:0 22px 0 45px;box-sizing: border-box;color:#e0e0e0;height:20px;line-height:20px}
    .contents{width:100%;min-width:768px}
}


@media screen and (max-width:767px){
    header{min-width:320px}
    .contents{min-width:320px}
    .quickMenu li{width:33.333%;margin:15px 0}
    .tabBox>div{float:none;width: calc(100% - 20px);}
    .tabBox>div.tab_st1{margin-right:0;margin:0 auto 20px}
    .tabBox>div.tab_st2{margin-left:0;margin:0 auto 20px}
    .tabBox .tab_title li{width:33.333%}
    .specialBox{width: calc(100% - 20px);margin:auto;margin-bottom:20px;margin-top:20px;}
    .specialBox ul li{width:calc(50% - 20px);margin-bottom:20px;font-size:13px;padding-right:0;}
    .specialBox ul li:nth-child(2n+1){margin-right:10px}
    .specialBox ul li:nth-child(2n){margin-left:10px}
    .customerBox{border-right:1px solid #dddfe5;width:calc(100% - 20px);margin:auto}
    .customerBox>div{height:350px;float:none;border-right:none;border-bottom:1px solid #dddfe5;}
    .customerBox>div:first-child{height:400px}
    .customerBox>div:last-child{border-bottom:none}
    .customerBox>div.cs_1{width:100%}
    .customerBox>div.cs_2{width:100%}
    .customerBox>div.cs_3{width:100%}
    .cs_1>div{float:none}
    .cs_1>div.cs_1_left{width:100%}
    .cs_1>div.cs_1_right{width:100%;margin-top:20px}
    .cs_1_right li a{height:auto;padding-top:10px;padding-bottom:10px}
    .cs_1_right li:nth-child(1) a{background-image:none;border-bottom:1px solid #fff} 
    .cs_1_right li:nth-child(2) a{background-image:none} 
    .cs_1 .cs_tel{background:none}
    .cs_2 p:nth-of-type(2){margin-top:45px}
    .cs_3>div:first-child{margin-bottom:50px}
}




